<!-- <h3>header</h3>
<nav>
  <a routerLink="/">pagina1</a>
  <a routerLink="/2">pagina2</a>
</nav>
<router-outlet></router-outlet>
<h3>footer</h3> -->
<!-- NavBar -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Bootstrap demo</title> -->
    <meta name="Erick Fernando Araújo Oliveira" content="©">

</head>

<body>

    <!-- Conteudo -->
    <div class="container">
        <div class="container-fluid">
            <div class="titulo1-h1 m-2 mb-4 mt-4 p-1">
                <h1 class="text-center">Editando variáveis de ambiente para sua conta</h1>
            </div>
            <h4 class="ps-2 bordatitulos">Caminho da pasta</h4>

            <p>Na área de trabalho do Windows clique no botão iniciar e digite <b>explorador de arquivos.</b></p>

            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v1.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->

            <p>Logo após clique em abrir procure por <b>Disco Local C:</b> busque pela pasta <b>Usuários</b> dentro
                dela.
            </p>

            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v2.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->

            <p class="card-text">Procure pelo seu <b>Usuário</b> e então abra-o.
            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v3.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->

            <p>Dentro do <b>Usuário</b> procure por <b>AppData</b> e então abra.</p>

            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v4.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->

            <p>Em seguida <b>Roaming</b>.</p>

            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v5.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->

            <p>Dentro de <b>Roaming</b> busque pela pasta <b>npm</b> e abra.</p>

            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v6.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->

            <p>Na
                barra superior clique e copie o caminho das pastas
                <b>C:\Users\Usuario\AppData\Roaming\npm</b> Feito isso
                volte para a área de trabalho.
            </p>

            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v7.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->
            <hr class="my-2">
            <h4 class="ps-2 bordatitulos my-3">Adicionando variável de ambiente</h4>

            <p>Na área de trabalho do Windowns, clique no iniciar e digite
                <b>Variáveis</b>, clique em <b>Editar variáveis de
                    ambiente para sua conta</b>.
            </p>

            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v8.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->

            <p>Na janela procure por <b>Path</b> na lista de variáveis para usuário clique
                sobre e
                clique em <b>Editar</b>.
            </p>

            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v9.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->

            <p>Em um espaço <b>Vazio</b> dê dois cliques e cole o caminho das pastas
                copiado anteriormente, em
                seguida clique em <b>Ok</b>.
            </p>

            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v10.1.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->

            <p>E em <b>Ok</b> novamente.</p>

            <!-- Card -->
            <div class="d-flex justify-content-center">
                <div class="card tamanhocard my-3">
                    <img src="assets/variaveis/v10.2.png" class="card-img-bottom p-3" alt="...">
                </div>
            </div>
            <!--  -->

            <p>Com isso sua variável foi criada você pode retornar ao tutorial de instalação do angular <a
                    routerLink="/">clicando aqui</a>.</p>
        </div>
    </div>
    <!--  -->

</body>

</html>