/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-1:#2d3142;
    --cor-2:#4f5d75;
    --cor-3:#bfc0c0;
    --cor-4:#ffffff;
    --cor-5:#ef8354;
    /* color: var(--cor-1); */
}

nav{
    background-color: var(--cor-3);
    align-items: center;
}

p{
    text-indent: 15px;
    padding-left: 10px;
    text-align: justify;
}

li{
    word-wrap: break-word;
}
